{% extends "template.html" %}
{% block content %}
<p style="padding-left: 10px;"><strong>Encrypted Passwords</strong></p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th style="width: 20%;"></th>
            <th style="width: 70%;"></th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    <tbody>
        {% for password in encrypted_passwords %}
        <tr style="border-bottom: none;">
            <td>{{ password.key }}</td>
            <td>{{ password.encrypted_text }}</td>
            <td>
                <form action="{{ url_for('core.remove_password', password_id=password.id) }}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="List-page"></div>
{% endblock %}